*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  display: flex;
  /* grid-template-columns: repeat(18, 0.5fr);
  grid-template-rows: repeat(7, 0.5fr); */
  /* gap: 1px; */
  flex-direction: column;
  justify-content: space-between;
  height: 60vw;
  background: url("images/image.png") center/cover no-repeat;
}
/* .hero img {
  grid-column: 0 / span 18;
  grid-row: 0 / span 18;
} */
.nav-bar {
  max-width: 90%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: white;
  margin: auto;
  font-family: archivo, arial, helvetica;
  font-size: 18px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}
.hero a {
  color: black;
  text-decoration: none;
  background: #9dff50;
  /* width: 156px;
  height: 80px;
  text-align: center; */
  padding: 12px 30px;
  border-radius: 32px;
  font-weight: 800;
  font-family: archivo, arial;
  font-size: 18px;
}
.container {
  grid-column: span 18;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.heading-container {
  .heading1 {
    font-size: 80px;
    font-weight: normal;
    font-family: monument extended, serif;
    color: white;
    display: inline-block;
  }
  .katalyst span {
    display: block;
    transform: skew(13deg);
  }
  .katalyst {
    display: inline-block;
    border-radius: 13px;
    color: #222222;
    padding: 5px 10px;
    background: #8cf452;
    transform: skew(-13deg);
  }
}

h3 {
  font-size: 48px;
  font-family: archivo, arial, helvetica;
  color: white;
  /* grid-row: 4 / span 10;
  grid-column: 7 / span 18; */
}
.head-para {
  font-size: 24px;
  color: white;
  max-width: 65%;
  /* grid-row: 5 / span 8;
  grid-column: 5 / span 10; */
  text-align: center;
}
.squares-container {
  margin-bottom: -100px;
  display: flex;
  overflow-y: visible;

  justify-content: center;
}
.square {
  height: 298px;
  width: 298px;
  background: #e5e7ec;
  border: 5px solid #ffffff;
  border-radius: 32px;
}
.box-1 {
  rotate: 10deg;
  background-color: #8cf452;
}
.box-2 {
  rotate: 355deg;
  background-color: #51554e;
}
.box-3 {
  rotate: 10deg;
  background-color: #e55158;
}
.box-4 {
  background-color: #eada7e;
  rotate: 350deg;
}

/* digital-thinkers */
/* 
.digital-thinkers {
  margin-top: 150px;
  display: flex;
  flex-direction: column;

  gap: 80px;
  columns: 2;
  p {
    color: black;
  }
}
.digital-para1 {
  font-size: 40px;
  font-family: Archivo, serif, arial, helvetica;
  font-weight: normal;

  text-align: left;
}
.digital-para2 {
  font-size: 20px;
  font-family: Monument extended, serif;
  font-weight: normal;

  text-align: left;
}
.digital-box-1 {
  height: 504px;
  width: 757px;
  background: #e5e7ec;
  border-radius: 32px;
  margin-bottom: 80px;

  img {
    margin: -30px 0 0 -30px;
  }
}
.digital-box-2 {
  height: 663px;
  width: 443px;
  background: #e5e7ec;
  border-radius: 32px;
}
.flex-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
} */
/* .digital-box-1 {
  height: 504px;
  width: 757px;
  background: #e5e7ec;
  border-radius: 32px;
  margin-bottom: 80px;

  img {
    margin: -30px 0 0 -30px;
  }
}
.digital-box-2 {
  height: 663px;
  width: 443px;

} */
.digital-thinkers {
  display: grid;
  margin-top: 300px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 70vh;
  p {
    color: black;
  }
}

.digital-para1 {
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
  font-size: 40px;
  font-family: Archivo, serif, arial, helvetica;
  font-weight: normal;
  margin-left: -40px;
  text-align: left;
}
.digital-para2 {
  grid-column: 8 / span 4;
  grid-row: 2 / span 3;
  font-size: 20px;
  font-family: Monument extended, serif;
  font-weight: normal;
  margin-left: -60px;
  margin-top: 20px;
  text-align: left;
}
.digital-box-1 {
  grid-column: 2 / span 5;
  grid-row: 5 / span 7;
  background: #e5e7ec;
  border-radius: 32px;

  img {
    margin: -30px 0 0 -30px;
  }
}
.digital-box-2 {
  grid-column: 8 / span 4;
  grid-row: 4 / span 9;
  background: #e5e7ec;
  border-radius: 32px;
}

/* our services */
.our-services-head {
  margin-left: 100px;
}
.our-head {
  font-size: 80px;
  font-weight: normal;
  font-family: monument extended, serif;
  color: #222222;
  display: inline-block;
}
.our-services-body {
  display: flex;
  justify-content: space-evenly;
  ul {
    flex-direction: column;
    gap: 20px;
    li {
      display: flex;
      border: 0.5px solid gray;
      width: 450px;
      height: 95px;
      border-radius: 120px;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      font-size: 24px;
      font-weight: 300;

      span {
        font-size: 24px;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
    }
  }
}
li:hover {
  background: black;
  color: white;
  cursor: pointer;
  span {
    color: #8cf452;
  }
}

.our-services-para1 {
  font-size: 20px;
  line-height: 170%;
  max-width: 450px;
  margin: 0 auto;
}

.our-services-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.our-services-box {
  width: 455px;
  height: 580px;
  background-color: #e5e7ec;
  border-radius: 32px;
  grid-row: span 2;
}
.our-services-box-black {
  height: 280px;
  width: 260px;
  background: #222222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 32px;
  border-radius: 32px;
  p {
    font-size: 18px;
  }
}

.our-services-box-green {
  height: 280px;
  width: 260px;
  background: #8cf452;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 32px;
  border-radius: 32px;
  p {
    font-size: 18px;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 28px;
  }
}
