*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  display: flex;
  /* grid-template-columns: repeat(18, 0.5fr);
  grid-template-rows: repeat(7, 0.5fr); */
  /* gap: 1px; */
  flex-direction: column;
  justify-content: space-between;
  height: 60vw;
  background: url("images/image.png") center/cover no-repeat;
}
/* .hero img {
  grid-column: 0 / span 18;
  grid-row: 0 / span 18;
} */
.nav-bar {
  max-width: 90%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: white;
  margin: auto;
  font-family: archivo, arial, helvetica;
  font-size: 18px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}
.hero a {
  color: black;
  text-decoration: none;
  background: #9dff50;
  /* width: 156px;
  height: 80px;
  text-align: center; */
  padding: 12px 30px;
  border-radius: 32px;
  font-weight: 800;
  font-family: archivo, arial;
  font-size: 18px;
}
.container {
  grid-column: span 18;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.heading-container {
  .heading1 {
    font-size: 80px;
    font-weight: normal;
    font-family: monument extended, serif;
    color: white;
    display: inline-block;
  }
  .katalyst span {
    display: block;
    transform: skew(13deg);
  }
  .katalyst {
    display: inline-block;
    border-radius: 13px;
    color: #222222;
    padding: 5px 10px;
    background: #8cf452;
    transform: skew(-13deg);
  }
}

h3 {
  font-size: 48px;
  font-family: archivo, arial, helvetica;
  color: white;
  /* grid-row: 4 / span 10;
  grid-column: 7 / span 18; */
}
p {
  font-size: 24px;
  color: white;
  max-width: 65%;
  /* grid-row: 5 / span 8;
  grid-column: 5 / span 10; */
  text-align: center;
}
.squares-container {
  margin-bottom: -100px;
  display: flex;
  overflow-y: visible;
  align-items: center;
  justify-content: center;
}
.square {
  height: 298px;
  width: 298px;
  background: #e5e7ec;
  border: 5px solid #ffffff;
  border-radius: 32px;
}
.box-1 {
  rotate: 10deg;
  background-color: #8cf452;
}
.box-2 {
  rotate: 355deg;
  background-color: #51554e;
}
.box-3 {
  rotate: 10deg;
  background-color: #e55158;
}
.box-4 {
  background-color: #eada7e;
  rotate: 350deg;
}
